* {
    box-sizing: border-box;
  }
  .contact {
    max-width: 600px;
    margin: 0 auto;
    min-width: 300px;
  }
  
  .heading {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
  }
  .name,
  .email,
  .message {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  .message {
    height: 10rem;
  }
  .submit {
    background-color: #333331;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .submit:hover {
    background-color: black;
  }